{% extends 'hospital/homebase.html' %}


{% block content %}

<br>
<br>

<div class="jumbotron" style="margin-bottom:0px;">
  <h1 class="display-4" style="text-align:center;">Сайн байна уу, Өвчтөн</h1>
  <p class="lead">Эмнэлгийн менежментийн системд тавтай морил.</p>
  <hr class="my-4">
  <p>Та нэвтэрч/бүртгүүлсний дараа янз бүрийн функцуудад хандах боломжтой.</p>
  <p class="lead">
    <a class="btn btn-primary btn-lg" href="/patientsignup" role="button">Өөрийн бүртгэлийг бүртгүүлэх</a>
    <a class="btn btn-primary btn-lg" href="/patientlogin" role="button">Нэвтрэх</a>
  </p>
</div>

{% endblock content %}
